/* Add this to your CSS file */
.card-hover-highlight {
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .btn-zoom-out {
    transition: transform 0.2s ease-in-out;
  }
  
  .btn-zoom-out:hover {
    transform: scale(2);
  }